# Ambientes Virtuais (caixas isoladas do Python)
venv/
.venv/
env/
ENV/

# Banco de Dados Local (Dados de produção não devem ir pro Git)
*.db
*.sqlite3

# Arquivos de Configuração Privados (Protege seu Token e Chat IDs)
config.json

# Arquivos de Log e Execução da Máquina Virtual
*.txt
*.log
log_crypto.txt
log_resumo.txt

# Arquivos temporários do Python e do Sistema Operacional
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
Thumbs.db